<div class="flex-container" (scrolled)="scroll()" infiniteScroll [infiniteScrollThrottle]=500 [infiniteScrollDistance]=1>
	<ng-template let-shot ngFor [ngForOf]="shotList">
		<div class="image">
			<div class="statisticas">
				<span>{{shot.views_count}} </span><i class="fa fa-eye"></i>&nbsp;&nbsp;
				<span>{{shot.comments_count}} </span><i class="fa fa-commenting-o"></i>&nbsp;&nbsp;
				<span>{{shot.likes_count}} </span><i class="fa fa-thumbs-o-up"></i>
			</div>
			<img (mouseover)="mostraInfo(shot)" routerLink="/show-shots/{{shot.id}}" routerLinkActive="active" srcset="{{shot.images[getTamanho()]}}" class="shot" [attr.title]="shot.title">
			<div *ngIf="mouseOverShot == shot.id" class="description corFundo"></div>
			<span *ngIf="mouseOverShot == shot.id" routerLink="/show-shots/{{shot.id}}" routerLinkActive="active"  [innerHTML]="getDescription(shot)" class="description"></span>
		</div>
	</ng-template>
</div>